.type_nickname {
  border: 1px solid #000;
  border-radius: 15px;
}

.col-lg-4 {
  background-color: #fff;
  height: 600px;
  border: 1px solid #000;
  border-radius: 15px;
  display: none;
}

.chat {
  height: 500px;
  overflow: auto;
}

.user_message {
  resize: none;
}

.col-9 {
  float: left;
}

.chattext {
  word-wrap:break-word;
  background-color: #c7c7c7;
  border-radius: 5px;
  font-size: 0.9em;
  text-align: center;
}

.mychattext {
  word-wrap:break-word;
  background-color: #14a9ff;
  border-radius: 5px;
  font-size: 0.9em;
  text-align: center;
}


.chatTime {
  float: right;
  margin-top: -15px;
  font-size: 0.65em;
}

.chatNickName {
  font-size: 0.75em;
  margin-bottom: -15px;
}

.me {
  float: right;
  max-width: 48%;
}

.you {
  float: left;
  max-width: 48%;
}
